@*
        _ViewStart.cshtml de varsayılan layout ayarlandığı için
    aksini belirtmedikçe orada belirtilen layout kullanılacak.
*@
@{ 
    ViewBag.Title = "About";
}

<h1>About.cshtml</h1>
<h1>Home controller da bulunan About metodu isteğinizi bu sayfaya yönlendirdi.</h1>
<h2><a href="/Home/Index">INDEX</a></h2>